@font-face {
    font-family: "Albert Sans";
    src: url("../assets/font/AlbertSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/font/Inter.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap'); //M PLUS Rounded 1c