@font-face {
    font-family: "Albert Sans";
    src: url("../assets/font/AlbertSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/font/Inter.ttf");
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    src: url("../assets/font/MPLUSRounded1c-Regular.ttf");
}

@font-face {
    font-family: "M PLUS Rounded 1c Black";
    src: url("../assets/font/MPLUSRounded1c-Black.ttf");
}