// Panneau caché par défaut (desktop)
.mobile-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav ul {
        label {
            display: block !important;
        }

        label::before {
            content: "menu";
            font-family: "Material Symbols Outlined";
            font-size: 64px;
            padding: 16px;
            color: white;
            cursor: pointer;
        }
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 40px;

        border-radius: 32px 0 0 32px;

        position: fixed;
        top: 50%;
        right: 0;
        width: 40%;
        height: 90vh;

        background-color: var(--primary-color);
        z-index: 1000;

        transform: translate(100%, -50%);
        transition: transform 0.35s ease;

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Albert Sans", system-ui;
            font-weight: bold;
            font-size: 24px;
        }

        .navLeft {
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            .vivaFest {
                padding: 16px;
            }

            img {
                width: 100px;
            }
        }

    }

    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 28px;

        color: white;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
    }

    .menu-toggle:checked~.mobile-menu {
        transform: translate(0, -50%);
    }

}

@media screen and (max-width: 727px) {
    .mobile-menu {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .mobile-menu {
        .navLeft {


            .vivaFest {
                display: block;

                .vivaFestTop {
                    p {
                        font-size: 24px;
                    }

                    small {
                        font-size: 12px;
                    }
                }

                .vivaFestBottom {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}