@media screen and (max-width: 500px) {

    nav {
        width: 98%;
        height: auto;
        position: fixed;
        align-items: center;

        ul {
            align-items: center;

            li {
                display: none;
            }

            label::before {
                font-size: 48px !important;
            }
        }

        img {
            width: 100px;
        }
    }

    #home {
        img {
            width: 200px;
        }
    }

    .navLeft {
        height: auto;
        padding: 8px 0;

        .vivaFest {
            display: none;
        }
    }

    #billetNavBarItem {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    .l-gap {
        gap: 0px;
    }

    .illustration {
        width: 100%;
    }

    #illustrationUne,
    #illustrationDeux {

        h1,
        p {
            text-align: center;
        }

        a {
            display: block;
            margin: 25px auto;
        }
    }

    .devided {
        width: 100%;
    }

    .home {
        p {
            font-size: 2rem !important;
        }

        .star {
            height: 60px;
        }
    }


    #home-next,
    #infos,
    #engagements,
    #lineup {
        h1 {
            font-size: 48px;
        }
    }


    #home-next,
    #infos,
    #engagements {
        h2 {
            font-size: 32px;
            width: 250px;
            margin: 0 auto;
        }

        p {
            text-align: start !important;
            margin-left: 25px auto !important;
            margin-right: 25px auto !important;
        }
    }

    #home-next {
        p {
            text-align: center !important;
        }
    }



    .engagementImg {
        display: none;
    }

    #engagementVivaFestLogo {
        display: none !important;
    }

    #infos {
        img {
            display: none;
        }

        h1 {
            margin: 0 auto;
        }

        h2 {
            text-align: center;
        }

        h1,
        p {
            width: 80% !important;
            text-align: center;
        }

        .btn {
            display: block;
            margin: 25px auto;
        }

        p {
            line-height: 42px;
        }
    }

    .mr-30 {
        margin-right: 0;
    }

    .ml-30 {
        margin: 0;
    }

    .ml-24 {
        margin: 0;
    }

    .mr-24 {
        margin-right: 0;
    }

    .right-text-align {
        text-align: center;
    }

    .txt-content {
        width: 90%;
        margin: 0 auto;

        p {
            text-align: center;
        }
    }

    .desc {
        width: 80%;
        margin: 0 auto;
    }

    .contact {
        display: block;
        margin: 0 auto;
        width: 90% !important;
    }

    .form-group {
        input {
            width: 85% !important;
        }
    }

    textarea {
        width: 95% !important;
    }

    .footer-contact {
        img {
            margin: 0 auto;
            width: fit-content;
            height: fit-content;
        }
    }
}