@media screen and (min-width: 874px) and (max-width: 1024px) {
    #basket {
        .flex-container {
            flex-direction: row;
        }

        .basket-card {
            width: fit-content;
        }
    }

    .mode-paiement {
        width: 400px !important;
        height: 80% !important;
    }
}

@media screen and (max-width: 874px) {
    .mode-paiement {
        width: 300px !important;
        height: 95% !important;

        p {
            font-size: 18px !important;
        }

        .mdp-card {
            p {
                font-size: 18px !important;
            }
        }
    }

    #basket {
        .slide-content {
            margin-top: 0;
        }

        .flex-container {
            flex-direction: column;
        }
    }

    .receipt {
        margin: 0 auto;
    }
}